# Compiled object files and binaries
*.elf
*.hex
*.bin
*.eep
*.o
*.d
*.a

# Backup files
*.bak

# Temporary files
*.tmp
*.temp

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.code-workspace

# Arduino specific directories
/libraries
/build

# Prototyping file
src.ino
notes.md